#main {
	background-color: grey;
}
.msg {
	padding-left: 10%;
	padding-top: 5%;
	margin-left: 5%;
	min-height: 50px;
	min-width: 300px;
	margin-bottom: 10px;
	border: 1px solid black;
	padding: auto;
}

#chat-form {
	display: flex;
	flex-direction: column;
	height: 400px;
	width: 400px;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	overflow-y: auto;
}

#input-field-wrapper {
	display: block;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	border: 1px solid black;
}

#input-field {
	height: inherit;
	width: inherit;
}
